.btn.mx-button.CollapseAllGroupboxesButton,
.btn.mx-button.ExpandAllGroupboxesButton {
    background-color: transparent;
    padding-left: 16px;
    margin: 5px;
}

.btn.mx-button.CollapseAllGroupboxesButton {
	background: url(CollapseGroupBoxWidget/widget/ui/CollapseAll.gif) no-repeat left center;
}

.btn.mx-button.ExpandAllGroupboxesButton {
	background: url(CollapseGroupBoxWidget/widget/ui/ExpandAll.gif) no-repeat left center;
}
