/* Additional styling specific for the project goes here */

/* Move help text trigger widget to the right in the header. */
div.HelpTextTriggerInHeader[id^=HelpText_widget_HelpTextTrigger] {
	position: absolute;
	right: 10px;
}
div.HelpTextTriggerInPopup[id^=HelpText_widget_HelpTextTrigger] {
	position: absolute;
	right: 0px;
}

div.modal-content.mx-window-content > div.modal-body.mx-window-body {
	padding-top: 5px;
	padding-left: 12px;
	padding-right: 5px;
	padding-bottom: 5px;
}

.PopupLayoutContainer div.mx-layoutcontainer-top > div {
	padding: 0px;
}

.PopupLayoutContainer div.mx-layoutcontainer-middle > div {
	padding-top: 16px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.CustomButtonBox {
	padding: 19px 20px 12px;
	box-shadow: none;
}